<div class="forPadding">
  <form (submit)="createProcessDefinition()" [formGroup]="formGroup">
    <div class="inputsContainer">
      <div class="labels">
        <label>Идентификатор схемы:</label>
        <label>Название:</label>
        <label>Организация:</label>
      </div>

      <div class="inputs">
        <input type="text" formControlName="ID">
        <input type="text" formControlName="name">
        <input type="text" formControlName="organization">
      </div>
    </div>

    <div class="buttons">
      <button type="submit">Создать</button>
      <button (click)="close()">Отмена</button>
    </div>
  </form>
</div>
