<div>
  <button (click)="backToTable()">Вернуться к таблице</button>

  <table>
    <tr>
      <td><b>НАЗВАНИЕ</b></td>
      <td>{{definition.name}}</td>
    </tr>

    <tr>
      <td>Идентификатор</td>
      <td>{{definitionID}}</td>
    </tr>

    <tr>
      <td>Состояние</td>
      <td>{{definition.state}}</td>
    </tr>

    <tr>
      <td>Версия</td>
      <td>{{definition.version}}</td>
    </tr>

    <tr>
      <td>Организация</td>
      <td>{{definition.organization}}</td>
    </tr>
  </table>

  <img width="150px" height="150px"
       src="https://steamuserimages-a.akamaihd.net/ugc/912422091632168881/907EBE3A7DD84ED1957DD2551F14EFEE357CC4E4/">
</div>
