div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

button {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px;
  border: black solid 1px;
}

img {
  align-self: center;
}
