<div *ngIf="!formIsVisible">
  <div [ngSwitch]="currentTab">
    <table *ngSwitchCase="'instance-tab'">
      <caption>ЭКСТРЕМАЛЬНАЯ ТАБЛИЦА ФО ЗАПУЩЕННЫЕ БП</caption>
      <thead>
      <tr>
        <td>Состояние</td>
        <td>Идентификатор</td>
        <td>Время старта</td>
        <td>Бизнес-ключ</td>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let item of processInstanceArray">
        <tr>
          <td>{{item.state}}</td>
          <td>{{item.ID}}</td>
          <td>{{item.startTS.toLocaleString()}}</td>
          <td>{{item.businessKey}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <div *ngSwitchCase="'definition-tab'">
      <sort-options (sortOptionPicked)="sortProcessDefinitions($event)"></sort-options>

      <table>
        <caption>ЭКСТРЕМАЛЬНАЯ ТАБЛИЦА ФО СХЕМЫ БП</caption>

        <thead>
        <tr>
          <td>Состояние</td>
          <td>Идентификатор</td>
          <td>Название</td>
          <td>Версия</td>
          <td>Организация</td>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let item of processDefinitionArray">
          <tr>
            <td>{{item.state}}</td>
            <td>{{item.ID}}</td>
            <td>{{item.name}}</td>
            <td>{{item.version}}</td>
            <td>{{item.organization}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>

    <img *ngSwitchDefault src="https://media.tenor.com/images/71d974d8ca08c62330fc3ac86b485ba6/tenor.gif">
  </div>
</div>

<process-definition-input-form *ngIf="formIsVisible" (newProcessDefinition)="onNewProcessDefinition($event)"></process-definition-input-form>
