<ng-container [ngSwitch]="currentTab$ | async">
  <div *ngSwitchCase="'instance-tab'">
    <button title="Приостановить процесс">Приостановить процесс</button>
    <button title="Изменить приоритеты для всех работ данного процесса">Изменить приоритеты для всех работ данного процесса</button>
  </div>

  <div *ngSwitchCase="'definition-tab'">
    <button (click)="onCreateProcessDefinitionButtonClicked()">Создать</button>
    <button disabled>Редактировать</button>
    <button disabled>Загрузить</button>
    <button disabled>Удалить</button>
    <button disabled>Загрузить сборку</button>
  </div>

  <div *ngSwitchDefault>
    <p>тут не на что смотреть</p>
  </div>
</ng-container>
