<div>
  <app-instance-tab-sort-options></app-instance-tab-sort-options>

  <hr>

  <table>
    <caption>ЭКСТРЕМАЛЬНАЯ ТАБЛИЦА ФО ЗАПУЩЕННЫЕ БП</caption>
    <thead>
    <tr>
      <td class="state">Состояние</td>
      <td class="ID">Идентификатор</td>
      <td class="short">Время старта</td>
      <td class="long">Бизнес-ключ</td>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngFor="let item of processInstanceArray$ | async">
      <tr>
        <td class="state">{{item.state}}</td>
        <td class="ID">{{item.ID}}</td>
        <td class="short">{{item.startTS.toLocaleString()}}</td>
        <td class="long">{{item.businessKey}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
