div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: black solid 1px;
}

b {
  font-size: 20px;
  align-self: center;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px;
  border: black solid 1px;
}

td.state {
  width: 100px;
}

td.ID {
  width: 250px;
}

td.long {
  width: 300px;
}

td.short {
  width: 100px;
}
